.card {
  width: 90%;
  border: 2px solid grey;
  margin-bottom: 1%;
}

.img {
  width: 40%;
  display: block;
  margin: auto;
}

.bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .card {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .card {
    width: 23%;
  }

  .img {
    width: 60%;
  }
}
